# Astro
.astro
dist/

# Dependencies
node_modules/
package-lock.json

# Environment
.env*

# Cloudflare
.wrangler/
_worker.js

# Build & Logs
.next/
*.log
build_heartbeat.txt
next-env.d.ts

# System
.DS_Store
Thumbs.db
